.#*
.cache
.config
.emacs.d/session*
.emacs.d/recentf
.emacs.d/elpa/
.emacs.d/eshell/
.emacs.d/config.el
.emacs.d/network-security.data
.emacs.d/history
.emacs.d/games*
.emacs.d/image-dired
.emacs.d/ido.last
.emacs.d/projectile*
.local
.emacs.d/tramp
.emacs.d/auto-save-list/
.emacs.d/auto-save/
.emacs.d/url/
.emacs.d/site-lisp/
.elfeed/
README.html
.emacs.d/anaconde-mode/
.emacs.d/transient/
.emacs.d/private/*
